body {
background-image : url("bckgrnd.jpg");
background-attachment:fixed;
font-family: Arial, Helvetica, sans-serif;
}
a:link {color: #FF1493;}
a:visited {color:#DC143C;}
a:hover {color:#C71585;}
a:active{color: #228B22;}