body {
font-family: Arial, Helvetica, sans-serif;
}
table{
border-style:none;
background-color:rgba(255,255,255,0.7);}

ul {
list-style-type: none;}

td,tr,th{
border-style:none;}

iframe{
border-style:none;}

a:link {
text-decoration: none; color: Black;}

a:visited {
text-decoration: none; color: Black;}

a:hover {
color: Black;
background-image: linear-gradient(to left, rgba(45,95,144,0), rgba(45,95,144,1));
border-radius:4px;}

a:active{
text-decoration: none; color: Black;}
